.bg-cream {
  background-color: cornsilk; /* Cream background color */
  border: 2px solid black; /* Black border */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Center align the navbar items */
}

.nav-item {
  margin-right: 50px; /* Adjust the margin between navbar items */
}
